body {
        font-family: Arial, sans-serif;
        text-align: center;
        background: white;
}

h1 {
    margin-top: 50px;
}

.layout {
    display:grid;
    grid-template-columns: 1fr 350px 1fr;
    height: calc(100vh - 100px);
    align-items: center;
}


.leftColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftInterface{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 180px;

}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;


}

.buttons button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
}

.stats{

    position: absolute;
    top: 100%;
    margin-top: 20px;
    left: 0;

    aadisplay: none;
    background:grey;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.centerArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clickArea{
    height: 350px;
    width: 350px;
    background: red;
    border-radius: 10px;

}



